body {
   
    background-color: rgb(6,109, 85);
    background-attachment: fixed;

}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 9);
    position: relative;
    left: 10cm;
    position: relative;
    top: 1cm;
    font-size: 27px;

}



p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 9);
    position: relative;
    left: 5cm;
    position: relative;
    top: 3cm;
    font-size: 20px;
}

h2 {
    position: relative;
    top: 4cm;
    position: relative;
    left: 10cm;
    line-height: 0cm;
    

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 9);
    position: relative;
    top: 4cm;
    position: relative;
    left: 5cm;
}

input{
    background-color: rgb(38, 117, 139);
    border-radius: 40px;
    font-size: 20px;
    font-family:monospace;
    padding: 5px 32px;
    display: inline-block;
    border: 5px solid #3106f3;
    
    
    
}

